/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Colors:

Navy: #121434;
Red: #dc3545;


*/

/* Fix for responsive images */
img {
  max-width: 100%;
}

/* GENERAL */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
  text-align: center;
}


/* GLOBAL */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
  font-family: Georgia, serif;
}

h1 {
	font-size: 3em;
}

h1,h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

a {
  color: #dc3545;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #121434;
}

button:hover {
  cursor: pointer;
}

/* NAV */
#logo-img {
  max-height: 80px;
}

.navbar {
  padding: 0px 1rem;
}

.navbar-brand {
  padding-bottom: 1px;
}

.dropdown-item {
  color: #dc3545;
}

#toggle {
  color: #121434;
}

#social-banner {
  margin-right: 0px;
  text-align: right;
}

#social {
  top: 0;
  right: 0;
  padding: 0px 10px;
  color: #121434;
}
#social:hover {
  color: #323978;
}

/* CAROUSEL */

.carousel-inner {
  width: 100%;
  max-height: 500px !important;
}

/* TAGLINE */
#tagline {
  background-color: #121434;
  color: white;
  width: 100%;
  padding: 10px;
}

#tagline h3 {
  margin: 0px;
}

/* BLOG */

#blog {
  margin: 0 auto;
}

#primary {
  padding: 40px 10px;
}

#content p {
  text-align: left;
  text-indent: 2em;
}

.widget {
  padding: 10px;
}

#facebook {
  padding-top: 20px;
}

#news {
  color: #dc3545;
}

/* FEATURED IMAGE */

.feature-image {
	display: table;
	width: 100%;
}

.feature-image-default {
	background: url('../img/glasses.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-about {
	background: url('../img/hello.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-instructors {
	background: url('../img/guitar.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-story {
	background: url('../img/headphones.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-register {
	background: url('../img/headphones.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-bands {
	background: url('../img/drums.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-calendar {
	background: url('../img/hello.jpg') no-repeat;
	background-size: cover;
}

.feature-image-default-contact {
	background: url('../img/keyboard.jpg') no-repeat;
	background-size: cover;
}

.feature-image h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
  padding: 100px 0;
}

.title-light-bg h1{
  color: #121434;
}

/* ABOUT */

#about {
  padding: 50px;
}

#vision {
  padding: 50px;
  color: white;
  background-color: #121434;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

#vision ul, #vision li {
  padding: 10px;
}

#address, #rates, #BBB {
  padding: 20px;
}

#map {
  padding: 40px;
}

#story {
  padding: 40px 10px;
}

/* INSTRUCTORS */

.instructor, .band {
  padding: 40px 10px;
}

.instructor-container, .band-container {
  padding: 10px;
}

/* REGISTRATION */

fieldset {
  display: inline-block;
}

.form-control {
  display: inline-block;
}

#register-form {
  padding: 40px 10px;
}

fieldset label {
  padding-right: 5px;
}

/* CONTACT */

#contact-form {
  padding: 40px 10px;
}

/* CALENDAR */
#calendar {
  padding: 40px 10px;
}

/* FOOTER */

footer {
  background-color: #121434;
  color: white;
  overflow: auto;
  padding: 20px 0;
  bottom: 0;
}
footer a {
  color: white;
}
footer a:hover {
  color: #dc3545;
}


/* MEDIA QUERIES */

@media screen and (max-width : 991px) {
  #address h4 {
    font-size: 14px;
  }
}

@media screen and (max-width : 768px) {
  .carousel-inner {
    width: 100%;
    max-height: 250px;
  }
  #about {
    max-width: 100%;
  }
  #about .row {
    display: block;
    width: 100%;
  }
  #map, #info {
    margin: auto;
    max-width: 100%;
  }
  #address h4 {
    font-size: 18px;
  }
}
